<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :current_team_size %><br>
    <%= f.number_field :current_team_size %>
  </div>
  <div class="field">
    <%= f.label :desired_team_size %><br>
    <%= f.number_field :desired_team_size %>
  </div>
  <div class="field">
    <%= f.label :headline %><br>
    <%= f.text_area :headline %>
  </div>
  <div class="field">
  	<%= f.label :project_type %>
  	<%= f.text_area :project_type %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
