<p id="notice"><%= notice %></p>

<h1>Welcome to our project</h1>
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Current team size:</strong>
  <%= @project.current_team_size %>
</p>

<p>
  <strong>Desired team size:</strong>
  <%= @project.desired_team_size %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
