<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @line_item.project %>
</p>

<p>
  <strong>Watchlist:</strong>
  <%= @line_item.watchlist %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
