<!DOCTYPE html>
<html>
<head>
  <title>Sideheroes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body class='<%= controller.controller_name%>'>
	 
	<header class="header">
		<nav>
			<!-- <img src=""> -->
			<ul>
				<li>Home</li>
				<li>Login</li>
			</ul>
		</nav>
	</header>
	<%= yield %>

</body>
</html>
