<!DOCTYPE html>
<html>
<head>
  <title>Sideheroes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body class='<%= controller.controller_name%>'>
	<div id="banner">
		<%= image_tag("logo.png")%>
  </div>

	<div id="columns">
	  <div id="side">
	  	<ul>
	  		<li><a href="#">Home</a></li>
	  		<li><a href="#">FAQ</a></li>
	  		<li><a href="#">News</a></li>
	  		<li>You were last here today, at <%= Time.now %></li>
	  	</ul>
	  </div>	
		
	</div>
	<div id="main">
	  <%= yield %>
	</div>
	<footer>
		<p>&copy; 2014</p>
	</footer>

</body>
</html>
